.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
}

.logo {
  /* height: 100px; */
  width: 200px;
}

.nav-items {
  padding: 0 20px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: auto;
  font-size: 24px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 200px;
  height: auto;
  background-color: lightgray;
  padding: 5px;
  margin: 5px;

  img {
    height: 150px;
    width: 100%;
  }
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid;
}

.search {
  padding: 10px;
  border: 1px solid;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-cards {
  width: 200px;
  margin: 20px;
  height: 400px;
  background-color: lightgray;
}

.login-btn {
  padding: 10px;
  cursor: pointer;
}

.filter {
  display: flex;
}